extends layout

block content
  h1 User Requests
  p.lead User requests by date
  hr
  .row
    each user in users
      .col-sm-12
        h2 #{user.phone}
        p #{user.message}
        p #{user.createdAt}
